<h1>App Test</h1>
<%= link_to "Saludo",saludo_path %>
<br>
<%= link_to "Catalogo clientes",clientes_path %>
<br>
<%= link_to "Catalogo productos",productos_path %>
<br>
<%= link_to "Detalle orden",ordens_path %>
